.contact-container {
  margin-top: 100px;
  @media(max-height: 800px) {
    margin-top: 200px;
  }
  @media(max-height: 720px) {
    margin-top: 300px;
  }
  @media(max-height: 625px) {
    margin-top: 400px;
  }
  @media(max-height: 520px) {
    margin-top: 500px;
  }
  @media(max-height: 415px) {
    margin-top: 600px;
  }
}



.contact-strip-container {
  background-color: #601b59a2;
  width: 100vw;
  height: 87px;
  margin-top: 10vh;
  z-index: 99999;
  @media (max-width: 1660px) {
    margin-top: 35vh;
  }
}

.contact-paragraph {
  color: #ffffff9c;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  position: relative;
}

.contact-main-container {
  height: 751px;
  width: 100vw;
}

.contact-main-rectangle {
  width: 80vw;
  height: 585px;
  background-color: #6b6b6b63;
  border-radius: 10px;
  margin-left: 10vw;
  margin-top: 10vh;
  display: flex;
}

.contact-image {
  width: 30vw;
  height: 30vw;
  margin-left: 7vw;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    scale: 1.1;
  }
  @media (max-width: 1380px) {
    margin-top: 8vh;
  }
  @media (max-width: 850px) {
    display: none;
  }
}

.contact-info-container > input {
  border-radius: 5px;
  margin-top: 2vh;
  margin-bottom: 1vh;
  font-family: $font-main;
  font-weight: 100;
  background: linear-gradient(
    260deg,
    rgba(180, 180, 180, 0) 0%,
    rgb(255, 254, 254) 100%
  );
  border: none;
  &:nth-child(2),
  &:nth-child(4) {
    width: 20vw;
    height: 2.3vh;
    padding-left: 0.5vw;
    @media (max-width: 850px) {
      width: 30vw;
    }
    @media (max-width: 620px) {
      width: 40vw;
    }
  }
  &:nth-child(6) {
    width: 20vw;
    height: 200px;
    padding-bottom: 8.5vw;
    padding-left: 0.5vw;
    @media (max-width: 850px) {
      width: 30vw;
    }
    @media (max-width: 620px) {
      width: 40vw;
    }
  }
}

.contact-info-container > h1 {
  color: #ffffff;
  font-family: $font-main;
  font-weight: 100;
}

.contact-info-container {
  margin-left: 12vw;
  margin-top: 3vh;
  @media (max-width: 850px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25vw;
  }
}

.contact-submit {
  display: block;
  width: 100px;
  height: 45px;
  background: none;
  border: 2px solid #6c6969;
  border-radius: 6px;
  font-family: $font-main;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: #ffffff;
    color: #1b1818;
    scale: 1.1;
  }
}
