.portfolio-text-main {
    position: absolute;
    top: 49px;
    left: 69px;

  width: 140px;
  background: linear-gradient(
    90deg,
    rgba(241, 68, 68, 1) 0%,
    rgba(210, 57, 235, 1) 26%,
    rgba(210, 57, 235, 1) 58%,
    rgba(235, 174, 57, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: $font-main;
  font-size: 36px;
  @media(max-width: 670px) {
   display: none;   
  }
}

.header-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 88px;
    &-1,
    &-2,
    &-3 {
        width: 100px;
        height: 45px;
        background: none;
        border: 2px solid #6C6969;
        border-radius: 6px;
        margin-left: 20px;
        font-family: $font-main;
        font-size: 16px;
        color: #ffffff;
        margin-top: 47px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        z-index: 9999;

        &:hover {
            background: #ffffff;
            color: #1B1818;
            scale: 1.1;
        }
    }
    @media(max-width: 670px) {
      justify-content: flex-start;
      margin-left: 7vw;
      
    }
}